@import "bootstrap/scss/bootstrap";


//$modal-fade-transform: scale(.8);

html {
  color-scheme: light dark;
  font-family: system-ui;
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; */
}
body{
  margin:0px;
}
h1{
  font-size: 2rem;
  font-weight:400;
}

.content{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
